


 
  /* navbar css */

  .navbar {
    background-color: #CE93D8;
    /* border: 5px solid purple; */
  }
  
  .navbar-brand{
    color: #FFFFFF;
    

  }
  .nav-link{
    color: #FFFFFF;
    
    
  }


  