<!DOCTYPE html>
<html>
<head>
    <title>why are you reading</title>
    <link rel="icon" href="/static/images/hacker.png">

    
    <link rel="stylesheet" type="text/css" href="/static/css/card.css">
  </head>
  <body>
    <main>
      <h1 style="color: black; border: 1px solid black; ;">About Site</h1>
      <p>tools those used to build this site <a style="color: black;">FROENT END</a></p>
    <div class="card-group">
      <div class="card2">
        <img src="/static/images/html.png" class="card-img-top" alt="...">
        <div class="card2-body">
          <h5 class="card2-title" style="color: black;">HTML</h5>
        </div>
      </div>
      <div class="card2">
        <img src="/static/images/css.png" class="card-img-top" alt="...">
        <div class="card2-body">
          <h5 class="card2-title" style="color: black;">CSS</h5>
        </div>
      </div>
      <div class="card2">
        <img src="/static/images/js.png" class="card-img-top" alt="...">
        <div class="card2-body">
          <h5 class="card2-title" style="color: black;">JavaScript</h5>
        </div>
      </div><div class="card2">
        <img src="/static/images/ejs.png" class="card-img-top" alt="...">
        <div class="card2-body">
          <h5 class="card2-title" style="color: black;">EJS</h5>
        </div>
      </div><div class="card2">
        <img src="/static/images/jq.png" class="card-img-top" alt="...">
        <div class="card2-body">
          <h5 class="card2-title" style="color: black;">iQuery</h5>
        </div>
      </div>
    </div>
  </main>

  <!-- backend -->
  <main>
    <!-- <h1 style="color: black; border: 1px solid black; ;">About Site</h1> -->
    <!-- <p>tools those used to build this site</p> -->
    <a style="color: black;">BACK END</a></p>
  <div class="card-group">
    <div class="card2">
      <img src="/static/images/node.png" class="card-img-top" alt="...">
      <div class="card2-body">
        <h5 class="card2-title" style="color: black;">NODE js</h5>
      </div>
    </div>
    <div class="card2">
      <img src="/static/images/ex.png" class="card-img-top" alt="...">
      <div class="card2-body">
        <h5 class="card2-title" style="color: black;">EXPRESS js</h5>
      </div>
    </div>
    <div class="card2">
      <img src="/static/images/mongo.png" class="card-img-top" alt="...">
      <div class="card2-body">
        <h5 class="card2-title" style="color: black;">MONGO DB</h5>
      </div>
  </div>
</main>
</body>
</html>
