<style>

    .left-aligned {
        text-align: left;
    }

    #hh {
        font-family: 'Signika Negative', sans-serif;
        text-align: center;
        color: black;
        border: 1px solid black;
        width: 50%;
        margin: 0 auto;

    }

    .left-aligned{
        color: black;
    }
    .accordion-item{
        width: 90%;
        margin: 0 auto;
        
    }
</style>
<h2 id="hh" >Work of Art</h2>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                HEREiAM
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <p class="left-aligned">HEREiAM is a kind of portfolio website with a real-time g-chat feature, enabling users
                    to connect with others. Built with HTML, CSS, and JavaScript, the site utilizes Node.js and MongoDB
                    for backend operations. It offers an interactive platform for users to stblish connection and engage
                    in live chat with diverse individuals.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                FEEMENT
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p class="left-aligned">Feement is a web application designed to efficiently manage the fee structure of
                    a college. The platform incorporates comprehensive details of students, including their
                    semester-wise payment records. Utilizing this application, college administrators can easily track
                    and update fee payments, allowing for seamless monitoring of students' financial transactions and
                    academic progress.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                MITH-PORT
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p class="left-aligned">"Presenting a groundbreaking web application that harnesses the power of advanced AI to seamlessly convert text inputs into captivating and imaginative images. Our project provides a dynamic online platform where users can effortlessly transform their text-based ideas – whether it's their name, a brief description, or an inspirational message – into visually striking images that transcend the ordinary. This user-friendly interface brings the realms of language and art together, allowing individuals from various backgrounds to explore their creativity without any barriers. The AI-driven image generation process combines artistic finesse with technological innovation, resulting in images that are uniquely tailored to each user's input.</p>

                    <p class="left-aligned">In line with the ethos of inclusivity, our application is accessible to all, offering a free and intuitive experience. The generated images, characterized by their imaginative yet unreal nature, are perfect for personal branding, creative expression, and sharing within our vibrant community. Users can easily download their creations and contribute to a collaborative environment where others can appreciate and even download their unique designs. Beyond just visuals, our project also presents an educational opportunity by showcasing the potential of AI technology and inspiring users to explore the intersection of creativity and innovation.</p>
                    
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                ZERO
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p class="left-aligned">Zero is an quite good Android application that enhances your music experience by
                    fetching and organizing local songs. With its user-friendly interface, you can effortlessly enjoy
                    your favorite tunes while strolling through the park. Whether you are a music enthusiast or simply
                    looking to relax, Zero provides a seamless and enjoyable way to access and listen to your songs on
                    the go.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                ANONYMOUS
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p class="left-aligned">Anonymouse is an innovative real-time chat web application that facilitates
                    anonymous interactions with random online users who are currently available. With its unique
                    concept, users can engage in spontaneous and exciting conversations with others without the need for
                    formal introductions or friend requests. making it an enjoyable way to connect with others in real-time.</p>
            </div>
        </div>
    </div>

    <p style="color: black;">you can simple get all these work from my github account <a href="/views/certificates.ejs" style="color: blue;"> click here</a></p  >